/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar .container .navbar-header a.navbar-brand img {
  width: 140px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#myCarousel .carousel-inner .active {
  background: url('../img/ny.jpg') no-repeat center center fixed;
  background-size: cover;

}

.carousel {
  height: 500px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  opacity: 0.8;
}
.carousel .carousel-inner .container .carousel-caption h1 {
  font-weight: 900;
  color: rgb(254, 195, 55);
  font-size: 60px;
}
.carousel .carousel-inner .container .carousel-caption p {
  color: rgb(254, 195, 55);
  font-weight: 900;
  margin-bottom: 100px;
  font-size: 22px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

/* Featurettes
------------------------- */
.marketing h2 {
  font-weight: normal;
  color: rgb(254, 195, 55);
}
.featurette .col-md-5 img.test {
  margin-top: 50px;
}
.featurette .test {
  margin-top: -30px;
}
.featurette .col-md-7 p.lead {
  color: white;
}


.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette .lead-two {
  margin-top: -90px;
}

/*  depoimentos */
#depoimentos {
  background-color: rgb(254, 195, 55);
  height: 70px;
  margin-bottom: 40px;
  margin-top: 60px;
}
#depoimentos .row .col-lg-12 h2 {
  color: black;
  font-weight: 600;
}

.marketing .row .col-lg-6 p {
  color: white;
  font-style: italic;
  font-weight: 900;
}
.marketing .row .col-lg-6 img {
  width: 150px;
  height: 150px;
}
.marketing .row .col-md-6 a {
  background-color: black;
  border: 1px solid rgb(254, 195, 55);
  font-weight: 900;
  font-size: 18px;
  color: rgb(254, 195, 55);

}
.marketing .row .col-md-6 a:hover {
  background-color: rgb(254, 195, 55);
  border: 1px solid black;
  transition: 0.5s;
  color: black;
}
.marketing h4 {
  font-weight: 900;
  color: rgb(254, 195, 55);
}

/* aula-experimental and contact*/
#container-test {
  margin-bottom: 60px;
}
#informations {
  margin-top: 40px;
}

#aula-experimental {
  background-color: rgb(254, 195, 55);
  height: 70px;
  margin-bottom: 40px;
  margin-top: 60px;
}
#aula-experimental .row .col-lg-12 h2 {
  color: black;
  font-weight: 600;
}

#container-test .row .col-md-6 p {
  color: white;
  font-weight: 900;
  font-size: 1.5em;
  margin-left: 40px;
  
}

#container-test .row .col-md-6 p#ultimo {
  color: white;
  font-weight: 900;
  font-size: 1.2em;
  margin-left: 95px;
}

#container-test .row .col-md-6 p i {
  color: rgb(254, 195, 55);
  font-size: 1.7em;
  margin-top: 10px;
}

#container-test .row .col-md-6 form  {
  color: white;
  font-weight: 900;
  font-size: 1em;
  border: 3px solid rgb(254, 195, 55);
  padding: 15px;
}
#container-test .row .col-md-6 form  input {
  border-radius: 0;
  border: 2px solid rgb(254, 195, 55);
  background-color: black;
}
#container-test .row .col-md-6 form  textarea {
  border-radius: 0;
  border: 2px solid rgb(254, 195, 55);
  background-color: black;
}
#container-test .row .col-md-6 form  textarea:focus {
  background-color: rgb(254, 195, 55);
  border: 2px solid black;
  box-shadow: none;
}

#container-test .row .col-md-6 input:focus {
  box-shadow: none;
  background-color: rgb(254, 195, 55);
  border: 2px solid black;
}
#container-test .row .col-md-6 input.btn {
  margin-top: 20px;
  background-color: rgb(254, 195, 55);
  color: black;
  font-size: 1em;
  font-weight: 900;
  border-radius: 0;
  border: 2px solid rgb(254, 195, 55);
}
#container-test .row .col-md-6 input.btn:hover {
  color: rgb(254, 195, 55);
  background-color: black;
  transition: 0.5s;
}

/*  maps */

div.maps {
  background-color: rgb(254, 195, 55);
  padding: 30px; 
  text-align: center;
}

/* footer */

.footer {
  height: 80px;
  background-color: black;
}

.footer .container .pull-left ul a {
  text-decoration: none;
}

.footer .container .pull-left ul a li {
  list-style: none;
  display: inline-block;
}

.footer .container .pull-left ul a li i {
  color: white;
  margin-top: 15px;
  font-size: 40px;
  margin-right: 15px;
  padding: 5px 5px;
}

.footer .container .pull-left ul a:hover li i {
  color: black;
  background-color: rgb(254, 195, 55);
  border-radius: 5px;
  transition: 0.7s;
}

.footer .container .pull-right p {
  margin-top: 30px;
  color: white;

}

.footer .container .pull-right p a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid black;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  margin-left: 5px;
  padding: 2px 4px;
  font-weight: 900;
  transition: 0.3s;
}

.footer .container .pull-right p a:hover {
  border: 2px solid white;
  
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 50px) {
  .carousel .carousel-inner .container .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel .carousel-inner .container .carousel-caption p {
    font-size: 15px;
  }
  .featurette-heading {
    margin-top: 60px;
  }
  #informations {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #container-test .row .col-md-6 p {
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-left: 0;
  }

  #container-test .row .col-md-6 p#ultimo {
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-left: 0;
  }
  #aula-experimental .row .col-lg-12 h2 {
    font-size: 1.0em;
    font-weight: 900;
  }
  #depoimentos .row .col-lg-12 h2 {
    font-size: 1em;
    font-weight: 900;
  }
}

@media (min-width: 250px) {
  #depoimentos .row .col-lg-12 h2 {
    font-size: 1.3em;
  }
  #aula-experimental .row .col-lg-12 h2 {
    font-size: 1.15em;
    font-weight: 900;
  }
}

@media (min-width: 310px) {
  .carousel .carousel-inner .container .carousel-caption h1 {
    font-size: 50px;
  }
  .carousel .carousel-inner .container .carousel-caption p {
    font-size: 18px;
  }
  .featurette-heading {
    margin-top: 80px;
  }
  #informations {
    margin-top: 0;
    margin-bottom: 40px;
  }


}

@media (min-width: 350px) {
  #container-test .row .col-md-6 p {
    color: white;
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 0;
  }

  #container-test .row .col-md-6 p#ultimo {
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    margin-left: 0;
  }
  #aula-experimental .row .col-lg-12 h2 {
    font-size: 1.5em;
    font-weight: 900;
  }
  #depoimentos .row .col-lg-12 h2 {
    font-size: 1.5em;
  }

  .carousel .carousel-inner .container .carousel-caption p {
    font-size: 20px;
  }
}

@media (min-width: 550px) {
  #depoimentos .row .col-lg-12 h2 {
    font-size: 1.7em;
  }
  #aula-experimental .row .col-lg-12 h2 {
    font-size: 1.7em;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .carousel .carousel-inner .container .carousel-caption h1 {
    font-size: 60px;
  }
  .carousel .carousel-inner .container .carousel-caption p {
    font-size: 22px;
  }
  .featurette-heading {
    margin-top: 100px;
  }
  #informations {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #aula-experimental .row .col-lg-12 h2 {
    font-size: 2.5em;
    font-weight: 900;
  }
  #depoimentos .row .col-lg-12 h2 {
    font-size: 2.5em;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

}