html, body {
  margin: 0;
  padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

body {
	background-color: #B3A6A5;
}

/* header */

.header {
	background: url("images/nycrop.jpg") no-repeat center center;
	background-size: cover;
	height: 500px;
}

.header .container img {
	width: 350px;
	margin-top: 15px;
}

.header .container ul a li {
	list-style: none;
	display: inline-block;
	margin: 15px 5px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #DEA13A;
	border: 1px solid transparent;
}
.header .container ul a li.last {
	margin-right: 0 !important;
} 

.header .container ul a li:hover {
	background-color: black; 
	border: 1px solid black;
	color: #DEA13A;
	transition: 0.5s;
}

.header .container ul a {
	text-decoration: none;
}

.header .container h1, .header .container h2 {
	text-align: center;
	font-weight: 900px;
	color: black;
	text-transform: uppercase;
}

.header .container h2 {
	margin-top: 210px;
	font-size: 20px;
	font-family: 'Libre Baskerville', sans-serif !important;
}

.header .container h1 {
	font-size: 70px;
	margin-bottom: 100px;
}

/*  section */
.section .container-fluid {
	background-color: #FEC337; 
	margin-top: 30px;
}

.section .container .col-md-6 p.first {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section .container video {
	width: 100%;
}

.section .container .col-md-6 p.last {
	margin-top: 20px;
}

@media (max-width: 2000px) {
  .header {
    height: 700px;
	}	
	.header .container h2 {
	margin-top: 300px;
	font-size: 20px;
	font-family: 'Libre Baskerville', sans-serif !important;
	}
	.header .container h1 {
	font-size: 75px;
	margin-bottom: 100px;
	}
}


@media (max-width: 1400px) {
  .header {
    height: 500px;
	}	

	.header .container h1, .header .container h2 {
		text-align: center;
		font-weight: 900px;
		color: black;
		text-transform: uppercase;
	}

	.header .container h2 {
		margin-top: 210px;
		font-size: 20px;
		font-family: 'Libre Baskerville', sans-serif !important;
	}
	.header .container h1 {
		font-size: 70px;
		margin-bottom: 100px;
	}

}

