body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.starter-template h1, .starter-template h2 {
	font-weight: 900;
	color: rgb(254, 195, 55);
}

/* navbar style */

.navbar .container .navbar-header a.navbar-brand img {
  width: 140px;
}

/* test */
.test {
	background: url('../img/platform.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 450px;
}

/* welcome section */
.container-fluid {
	background-color: rgb(254, 195, 55);
	margin-bottom: 40px;	
}

.container-fluid h1 {
	color: black;
	margin: auto;
	padding: 25px;
	font-weight: 900;
}

/*  classes section */
.classes {
	margin-bottom: 80px;
}

.classes .container .row .col-md-6 p {
	background-color: rgb(254, 195, 55);
	padding: 30px;
	color: black;
	font-weight: 900;
	border-radius: 5px;
	font-size: 1.5em;
	margin-top: 20px;
	border: 2px solid transparent;
	
}
.classes .container .row .col-md-6 a {
	text-decoration: none;
}
.classes .container .row .col-md-6 p:hover {
	background-color: black;
	color: rgb(254, 195, 55);
	transition: 0.5s;
	border: 2px solid rgb(254, 195, 55);
}


