body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template h3, .starter-template p {
	color: white;
}

.navbar .container .navbar-header a.navbar-brand img {
  width: 140px;
}

.container .row .col-md-12 p, .container .row .col-md-6 p {
	color: white;
}
.classes .container .row .col-md-6 p.obj {
	background-color: rgb(254, 195, 55);
	padding: 20px;
	color: black;
	font-weight: 900;
	border-radius: 5px;
	font-size: 1.5em;
	margin-top: 20px;
	border: 2px solid transparent;
}
.classes .container .row .col-md-6 ul  {
	color: white;
	list-style: none;
}

.container-test {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}
.container-test p {
	margin-top: 10px;
}
.container-test p a {
	text-decoration: none;
	color: black;
	padding: 5px 10px;
	font-size: 18px;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: rgb(254, 195, 55);
}

.container-test p a:hover {
	background-color: black;
	color: rgb(254,195,55);
	transition: 0.7s;
	border: 1px solid rgb(254,195,55);
}


